body {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* General styles for the container */
.container {
    display: flex;
    align-items: center;  /* Vertically align items in the center */
    justify-content: space-around; /* Space out items evenly */
    gap: 20px;  /* Optional gap between the elements */
}

/* Style for the dropbox area */
.upload-area {
    border: 2px dashed #ccc;
    padding: 20px;
    width: 45%; /* Make it take 45% of the container's width */
    height: 300px; /* Fixed height for consistency */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Style for the uploaded image container */
.image-container {
    width: 45%; /* Make it take 45% of the container's width */
    height: 300px; /* Fixed height for consistency */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the uploaded image */
#uploadedImage {
    max-width: 100%; /* Ensure image doesn't overflow */
    max-height: 100%; /* Ensure image height is constrained */
    object-fit: cover; /* Scale the image to fit the container */
}

#map {
    width: 480px;
    height: 360px;
    width: 80%;
    margin: 20px auto;
}
